@charset "utf-8";
.box-shadow {
	border-radius: 5px;
	border: solid 1px #999;
	box-shadow: 0px 1px 3px #888888;
	margin-bottom: 10px;
	background-color: #EEF2F5;
	overflow: hidden;
}
ul,
li,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
.clears {
	clear: both;
}
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1001;
	-moz-opacity: 0.6;
	opacity: .60;
	filter: alpha(opacity=60);
}
.black_overlays {
	display: none;
	position: absolute;
	top: 60px;
	z-index: 1002;
	background: url(../images/8.jpg) repeat;
	background-size: 100% 100%;
	-moz-opacity: 0.95;
	opacity: .98;
	filter: alpha(opacity=95);
	/*-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);*/
}
/***********************The template*/

body {
	background-color: #EEF2F5;
	font-family: "微软雅黑";
}
select.form-control {
	padding-right: 12px!important;
}
.logo {
	width: 173px;
	height: 40px;
	background: url(../images/logo.jpg) no-repeat;
	margin: 10px 0 10px 0;
}

.projectName{
	display:inline-block;
	float:left;
	margin:10px 0;
	height:40px;
	line-height:40px;
	font-size:24px;
	margin-left:20px;
	margin-bottom:0;
	font-weight:bold;
	
}
#mydiv {
	overflow: hidden;
	height: 17px;
}
.prompt {
	width: 494px;
	height: 60px;
	background: url(../images/prompt.jpg) no-repeat;
	padding: 21.5px 0;
}
.prompt a {
	color: #333;
	display: block;
	text-decoration: none;
	font-size: 10px;
	line-height: 17px;
	margin-left: 50px;
}
#main .toolbar {
	height: 45px;
	line-height: 45px;
	background: url(../images/toolbar.jpg) repeat;
	border-radius: 5px 5px 0 0;
}
#main .toolbar span {
	color: #fff;
	text-shadpw: 0 ipx 0 #fff;
	font-size: 13px;
	font-weight: bold;
}
#main .toolbar .user {
	width: 160px;
	border: 1px solid transparent;
	border-radius: 2px;
	margin: 3px;
	line-height: 38px;
	position: relative;
}
#main .toolbar .user:hover {
	border: 1px solid #000;
	cursor: pointer;
}
/*#main .toolbar .user ul {
	display:none;
	cursor: default;
	position:absolute;
	overflow: hidden;
	width: 160px;
	margin: 0 -1px;
	margin-top: 1px;
	background: #fff;
	list-style: none;
	z-index: 102
}*/

#main .dropdown-menu {
	left: 15px;
}
#main .toolbar .user li {
	padding: 0 10px;
	height: 27px;
	border: 1px solid transparent;
}
#main .toolbar .user li a,
#main .toolbar .user li a:visited {
	display: block;
	user-select: none;
	-moz-user-select: none;
	text-decoration: none
}
#main .toolbar .user li.line {
	height: auto;
	margin: 3px 10px;
	border-bottom: 1px solid #dfdfdf
}
#main .toolbar .user li.line:hover {
	background: #fff;
	border-color: transparent;
	border-bottom-color: #dfdfdf
}
#main .toolbar .user li:hover {
	background: url('../images/bg.png');
	border: 1px solid #396aa4;
}
#main .toolbar .user>span {
	user-select: none;
	-moz-user-select: none
}
#main .toolbar .user>span:after {
	display: block;
	position: absolute;
	top: 5px;
	right: 8px;
	content: '▼';
	font-size: 10px;
	text-shadow: 0 1px 0 #000;
	user-select: none;
	-moz-user-select: none;
	cursor: default
}
#main .toolbar .user:hover>span:after {
	cursor: pointer
}
#main .toolbar .user.clicked>span:after {
	content: '▲';
	color: #676767;
	cursor: pointer
}
#main .avatar {
	float: left;
	position: relative;
	height: 29px;
	width: 29px;
	margin: 5px 8px 0 0;
}
#main .avatar img {
	float: left;
	border-radius: 3px;
	border: 1px solid #484848;
}
#main .avatar span {
	position: absolute;
	width: 14px;
	height: 14px;
	top: -5px;
	right: -5px;
	background: url('../images/counter.png');
	line-height: 14px;
	cursor: default;
	font-family: Arial;
	font-size: 9px;
	text-align: center;
	color: #fff;
}
#main .breadcrumb {
	margin: 7px 25px 0 25px;
	color: #fff;
	background: url(../images/breadcrumb.jpg) repeat-x;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	border: solid 1px #000000;
	text-shadow: 0 1px 0 #000;
}
#main .breadcrumb li a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#main .toolbar .pull-right form {
	margin-top: 8px;
}
@media (min-width: 1600px) {
	#navigation {
		width: 8%;
	}
}
@media (max-width: 1600px) {
	#navigation {
		width: 10%;
	}
}
@media (min-width: 1600px) {
	#mainwarp-width {
		width: 92%;
	}
}
@media (max-width: 1600px) {
	#mainwarp-width {
		width: 90%;
	}
}
.container {width: 100%!important;}
#mainwarp-width{padding-right:0!important;}/*padding-left:10px;*/
.reset-padding{padding-left:0!important;padding-right:0!important;}
.col-lg-12,.col-xs-12,.col-sm-12,.col-md-12{padding-left:0;padding-right:0;}

#navigation {
	background-color: #EEF2F5;
	padding: 0;
	margin: 0;
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}
.main-left-col {
	position: relative;
	background-color: #EEF2F5;
}
.main-left-col .side-nav {
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #DCDCDC;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}
.main-left-col .side-nav ul {
	margin: 0;
	background: #EEF2F5;
}
.main-left-col .side-nav a {
	color: #666;
	display: block;
	padding: 8px 16px;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	background: url(../images/listwhite.jpg) repeat-x;
}
@media (max-width: 992px) {
	.main-left-col ul.side-nav a {
		padding: 8px 4px;
		font-size: 14px;
	}
}
.main-left-col .side-nav a:hover {
	text-decoration: none;
	color: #fff;
	background: url(../images/listblue.jpg) repeat-x;
}
.dropdown-toggle-item:hover {
	text-decoration: none;
	color: #fff!important;
	background: url(../images/listblue.jpg) repeat-x !important;
}
.defaultmenu {
	text-decoration: none;
	color: #fff!important;
	background: url(../images/listblue.jpg) repeat-x !important;
}
.main-left-col .side-nav .active > a {
	background: url(../images/listwhite.jpg) repeat-x;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	color: #666;
}
.main-left-col .side-nav ul li a {
	text-align: center;
	border-bottom: solid 1px #DCDCDC;
	padding: 4px 16px;
	background: #EEF2F5;
}
.main-left-col .side-nav ul li a:hover {
	text-align: center;
	background-color: #579CEA;
	background-image: none;
}
.main-left-col .side-nav .active ul li a {
	border: none;
}
.main-left-col .side-nav ul li.active a {
	background: url(../images/listwhite.jpg) repeat-x;
}
.main-left-col .side-nav .dropdown-toggle .caret {
	border-top-color: #666;
	border-bottom-color: #666;
	opacity: 1;
	filter: alpha(opacity=100);
}
/***********************The template*/
/***********************index*/
/*@media (min-width: 1600px) {
	#maincontent {
		width: 91.66666667%;
	}
}*/

#maincontent {
/*	width: 90%!important;*/
	background: #fff;
	padding: 0;
	margin: 0;
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}
ul.stats {
	display: table;
	table-layout: fixed;
	margin-bottom: 20px;
	padding: 22px 15px 24px;
	width: 100%;
	background: url('../images/mainbg.jpg') repeat-x #3a4454;
	border-bottom: 1px solid #08192e;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
ul.stats li {
	display: table-cell;
}
ul.stats li strong,
ul.stats li span,
ul.stats li small {
	display: block;
	text-align: center;
}
ul.stats li strong {
	color: #fff;
	font-size: 18px;
}
ul.stats li small {
	color: #CCC;
}
/* Top stats */
/***********************index*/
/***********************Tables*/

.box {
	border-radius: 2px;
	border: 1px solid #b9b9b9;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
	margin-bottom: 25px;
	min-height: 400px;
}
.box .header {
	position: relative;
	background: url('../images/header-bg.png') repeat-x #e9ecf1;
	box-shadow: inset 0 1px 0 #fff, 0 1px 2px rgba(0, 0, 0, 0.02);
	border-radius: 2px 2px 0 0
}
.box .header h2 {
	padding: 10px;
	margin: 0;
	font-size: 0.9em;
	font-weight: bold;
	border-bottom: 1px solid #c0c8d0;
	background-repeat: no-repeat;
	background-position: 8px 50%
}
.box .header .icon {
	display: inline-block;
	float: left;
	height: 16px;
	width: 16px;
	font-size: 16px;
	line-height: 16px;
	cursor: default;
	margin-right: 10px;
	margin-left: 2px;
	text-align: center
}
.tabletools {
	display: none;
	text-align: right;
	padding: 5px 8px;
	background: #f7f7f7;
	border-bottom: 1px solid #cfcfcf;
	overflow: hidden;
}
.tabletools .left {
	float: left;
}
.tabletools .right {
	float: right;
}
.tabletools .left a {
	margin-right: 10px;
}
.tabletools .right a {
	margin-left: 10px;
}
.tabletools a {
	padding: 2px 6px;
	border: 1px solid transparent;
	color: #666;
	font-size: 0.8em;
	text-decoration: none;
}
.tabletools a:hover {
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 #fff;
	background: url('../images/hover.png') repeat-x #191919;
	border-color: #c5c5c5;
}
.tabletools a:hover:active {
	border-color: transparent;
	background: #e5e7eb;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.53), 0 1px 0 #fff;
}
.tabletools a i {
	margin-right: 5px;
	font-size: 10px;
}
.table-responsive {
	background: #F7F7F7;
	overflow-x:inherit;
/*	max-height:700px;*/
	/*overflow-y:auto;*/
}

.table-responsive table {
	background: #FFF;
	clear:both; 
/*	border-top: solid 1px #CFCFCF; */
}
.table-responsive table tr th {
	/* padding: 5px 15px; */
	text-align:center;
}
.table-responsive table tr td {
	padding: 5px;
	word-break: break-all;
}
.dataTables_info {
	font-size: 0.8em;
	margin: 15px;
	float: left;
}
.dataTables_paginate {
	margin: 15px;
	float: right;
}
.paging_full_numbers {
	font-size: 0.8em;
	font-weight: bold;
}
.paging_full_numbers a {
	text-decoration: none;
}
.paging_full_numbers a:hover {
	color: #fff;
}
.paginate_button {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.42);
}
.paginate_button,
.paginate_active {
	padding: 3px 7px;
	cursor: default;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	background: url('../images/disabled.png') repeat-x #dfdfdf;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.paginate_active {
	color: #FFF;
	text-shadow: 0px 1px 0px #000;
	background: url('../images/active11.png') repeat-x #394353;
	border-color: #101a2a;
}
.paginate_active:hover {
	color: #FFF;
	text-shadow: 0px 1px 0px #000;
}
.paginate_button:hover {
	background: url('../images/hover1.png') repeat-x #1c68c0;
	border-left-width: 1px;
	border-color: #13447d;
	margin-left: -1px;
	cursor: pointer;
}
.paginate_button:hover:active {
	border-color: #13447d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.59);
	background: #175093;
}
.paginate_button.first {
	border-left-width: 1px;
	border-radius: 2px 0 0 2px;
}
.paginate_button.last {
	border-radius: 0 2px 2px 0;
}
table .odd {
	background-color: #F6F6F6;
}
table .gradeA:hover {
	background-color: #F7F8FA;
}
.table-responsive table thead {
	background: url('../images/header.png') repeat-x #eef0f4;
}
.tabletools a {
	color: #70747a;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}
.dataTable th.header {
	cursor: pointer;
	background: url('../images/sorting.png') no-repeat right center;
}
.dataTable th.header:hover {
	background: url('../images/sorting.png') #fff no-repeat right center;
}
.dataTable th.header:active {
	background: url('../images/sorting.png') #edeef0 no-repeat right center;
}
.dataTables_wrapper .filters {
	padding: 3px 8px;
	padding-top: 5px;
	background: #CCC;
	overflow: hidden;
	border-bottom: 1px solid #cfcfcf;
}
.dataTables_filter {
	font-size: 12px;
	color: #626262;
/*	margin: 5px 0 0 15px;*/

}
.dataTables_length {
	margin: 0px 15px 0 0;
	float: right;
}
.dataTables_length label {
	cursor: default;
	display: inline;
}
.dataTables_filter input[type="text"] {
	font-size: 12px;
	padding: 4px;
	margin: 0 5px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.dataTables_length select {
	font-size: 11px;
	padding: 4px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.webkit .dataTables_length .text {
	position: static;
}
.toggleFilter {
	width: 35px;
	height: 34px;
	background: transparent;
	border-left: 1px solid #c1c1c1;
	cursor: pointer;
	position: absolute;
	top: 1px;
	right: 16px;
}
.toggleFilter:hover {
	background: url('../images/menu-bg.png') repeat-x #f0f2f5;
}
.toggleFilter:hover:active {
	background: url('../images/menu-active-bg.png') repeat-x #e3e6ea;
}
.toggleFilter:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	cursor: pointer;
	line-height: 40px;
	width: 35px;
	text-align: center;
	content: "\f013";
	color: #787979;
	font-size: 16px;
	text-shadow: 0 1px 0 #fff;
}
.toggleFilter.active {
	background: #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
}
/***********************Tables*/
/***********************footer*/

footer {
	font-size: 9px;
	margin-top: 5px;
	overflow: hidden;
	color: #777;
	text-shadow: 0px 1px 0px #FFF;
}
footer>ul {
	padding: 0;
	margin: 10px 0
}
footer>ul li {
	display: inline-block;
	line-height: 10px;
	margin-right: 10px;
	padding-right: 14px;
	background: url('../images/divider.png') no-repeat bottom right;
}
footer>ul li:last-child {
	background: 0;
}
footer>ul li a,
footer>ul li a:visited,
footer a {
	color: #777;
	text-decoration: none;
}
footer>ul li a:hover {
	text-decoration: none;
}
footer>span {
	margin: 10px 0;
	text-align: right;
}
/***********************footer*/
/***********************form information*/
/*#information {
	z-index: 1020;
}*/
/*.form-horizontal .form-group{
	margin:0 5px;
}*/


.row>div>.form-group{ width:100%;}
.min_width_250{ width:450px\0;}
#information .control-label {
	padding-top: 7px;
	padding-left: 15px;
	margin-bottom: 0;
	text-align: left;
}
#information label {
	color: #434343;
}
#information .actions {
	padding: 15px 15px 15px 20px;
	background-color: #F5F5F7;
	overflow: hidden;
}
.box .bodyer {
	padding: 7px 30px 0 10px;
	background: #F9F9FA;
	overflow: hidden;
	border-bottom: solid 1px #b9b9b9;
}
#form1 p.vtip {
	width: 20%!important;
}
p.vtip {
	/*display: none;*/
	
	position: relative;
	padding: 10px;
	margin: 10px 0 0 0;
	/*left: 5px;*/
	
	font-size: 0.8em;
	background-color: white;
	border: 1px solid #FFBABC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*z-index: 1001;*/
	
	color: red;
	font-size: 12px;
}
p.vtip #vtipArrow {
	position: absolute;
	top: -10px;
	left: 5px
}
.input_validation-failed {
	border: 2px solid #FF0000;
}
.select_validation-failed {
	color: red;
	border: 1px solid #FF0000;
}
.select_validation-failed-border {
	border: 1px solid #FF0000;
}
.input-validation {
	margin-left: 126px;
	position: relative;
}
/***********************form information*/
/***********************timeout*/

#lock-screen {
	display: none;
	width: 350px;
	z-index: 1004;
	outline: 0px none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	/* 老的 Firefox */
	
	-webkit-border-radius: 5px;
	/* Safari 和 Chrome */
	
	-o-border-radius: 5px;
	/* Opera */
	
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.8);
	border: 1px solid #707070;
	position: absolute;
	background-color: #fff;
}
#lock-screen h4 {
	width: 100%;
	text-align: center;
	background: url(../images/dialog-titlebar.png) repeat-x;
	margin: 0;
	padding: 0;
	line-height: 39px;
	font-size: 13px;
	color: #1E4063;
	border-bottom: solid 1px #97A6B5;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
	font-weight: bold;
}
#lock-screen a {
	position: absolute;
	top: 8px;
	right: 10px;
}
#lock-screen p {
	font-size: 14px;
}
#lock-screen .modal-footer {
	background-color: #F0F0F0;
	padding: 10px 30px;
}
/***********************timeout*/
/***********************Popup-table*/

.Popup-table {
	display: none;
	width: 320px;
	z-index: 1003;
	outline: 0px none;
	border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	/* 老的 Firefox */
	
	-webkit-border-radius: 5px;
	/* Safari 和 Chrome */
	
	-o-border-radius: 5px;
	/* Opera */
	
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.8);
	border: 1px solid #707070;
	position: absolute;
	background-color: #fff;
}
.Popup-table h4 {
	width: 100%;
	text-align: center;
	background: url(../images/dialog-titlebar.png) repeat-x;
	margin: 0;
	padding: 0;
	line-height: 39px;
	font-size: 13px;
	color: #1E4063;
	border-bottom: solid 1px #97A6B5;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
	font-weight: bold;
}
.Popup-table a {
	position: absolute;
	top: 8px;
	right: 10px;
}
.Popup-table p {
	font-size: 12px;
}
.Popup-table .modal-footer {
	background-color: #F0F0F0;
	padding: 10px;
}
/***********************Popup-table*/
/***********************404*/

#big {
	margin-top: 80px;
	text-align: center;
}
#big h6 {
	color: #891F10;
	font-weight: bold;
}
#big h1 {
	font-size: 6em;
	font-family: "Times New Roman", Times, serif;
}
/***********************404*/
/***********************personal*/

#personal {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}
#personal .header:after {
	display: block;
	width: 97%;
	margin: 1.5%;
	border-bottom: 1px solid #E1E3E5;
	content: "";
}
#personal .title {
	width: 100%;
	overflow: hidden;
	padding: 15px 0 0 107px;
	background: url(../images/title-bg.png) repeat-x #ECF1F4;
	border-bottom: solid 1px #BCC4D2;
	font-weight: bold;
}
#personal .avatar {
	position: absolute;
	top: 20px;
	left: 20px;
	background: none repeat scroll 0% 0% #FFF;
	border: 1px solid #C1C1C1;
	border-radius: 2px;
}
#personal .avatar img {
	display: block;
	padding: 10px 10px 3px 10px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
}
#personal .avatar a {
	display: block;
	width: 100%;
	color: #3A3A3A;
	text-shadow: 0px 1px 0px #FFF;
	font-size: 11px;
	padding: 4px 10px;
	background: url('../images/change-bg.png') repeat-x scroll 0% 0% #E8E8E8;
	border-top: 1px solid #C1C1C1;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
	text-align: center;
	text-decoration: none;
}
#personal .avatar a:hover {
	background: url('../images/change-hover-bg.png') repeat-x scroll 0% 0% #F3F3F3;
}
#personal .avatar a:hover:active {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21);
	background: url('../images/change-active-bg.png') repeat-x #e9e9e9;
}
#personal ul.info {
	padding: 20px 0 0 107px;
}
#personal ul.info li {
	display: inline-block;
	margin-left: 10px;
	padding-left: 15px;
	border-left: 1px solid #D3D9E3;
}
#personal ul.info li a {
	text-decoration: none;
}
#personal ul.info li:first-child {
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
#personal ul.info li strong {
	color: #5E6775;
	font-size: 16px;
	font-weight: bold;
	display: block;
	text-align: left;
}
#personal ul.info li strong:hover {
	color: #345478;
}
#personal ul.info li small {
	color: #989FAA;
	font-size: 12px;
	display: block;
	text-align: left;
}
#personal h6 strong {
	display: inline-block;
	margin-left: 3px;
}
#personal h6 a {
	color: #8A8A8A;
	display: inline-block;
	float: right;
	margin: 0 1% 1.25em 0px;
	text-decoration: none;
}
#personal h6 a:hover {
	color: #2864A8;
}
#personal section.perbox {
	border-width: 1px;
	border-style: solid;
	border-right: 1px solid #C9C9C9;
	border-color: #ADADAD #C9C9C9 #C9C9C9;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 3px;
	box-shadow: 0px 1px 0px #EDEDED inset;
	background: none repeat scroll 0% 0% #FFF;
}
#personal table {
	font-size: 0.8em;
	margin: 15px;
}
#personal table tr > td,
#personal table tr > th {
	padding-bottom: 5px;
}
#personal table tr > td i,
#personal section.perbox p i {
	color: #999;
}
#personal table th {
	color: #616161;
	text-align: right;
	padding-right: 10px;
	font-weight: normal;
}
#personal section.perbox p {
	font-size: 12px;
	text-align: center;
	padding: 0px 15px;
	margin-top: 10px;
}
#personal .logs {
	margin: 0px;
	padding: 0px;
}
#personal .logs li:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#personal .logs li {
	border-bottom: 1px solid #EFF3F6;
	list-style: outside none none;
}
#personal .logs a {
	display: block;
	padding: 10px;
	text-decoration: none;
}
#personal .logs a:hover {
	background-color: #EFF3F6;
}
#personal .logs .error strong {
	color: #CC3030;
	font-weight: bold;
}
#personal .logs strong {
	font-size: 0.9em;
}
#personal .logs small {
	font-size: 11px;
	color: #828282;
	float: right;
	padding-right: 10px;
	background: url('../images/logs-arrow.png') no-repeat scroll right center transparent;
	line-height: 2em;
}
/***********************personal*/

.div-hide {
	display: none;
}
/*.alert-box-div{padding:0; margin-bottom:0; height:34px; line-height:34px;}

.alert.success, .alert.success .close:hover {
	padding-left:25px;
color: #fff;
text-shadow: 0 1px 0 rgba(0,0,0,0.75);
border: 1px solid #126f08;
background: url('../images/bg-success.png') #2d7b23 repeat-x;
}
.alert.success .icon {
display: block;
position: absolute;
height: 15px;
width: 14px;
left: 5px;
background: url('../images/success.png');
content: ' ';}*/

.submit-btn-lineheight {
	line-height: 52px;
}
.alert-box-success {
	/* background-color:#FFF; border-color:#FFF;*/
	
	margin-bottom: 0;
	color: #3c763d
}
.alert-box-error {
	margin-bottom: 0;
	color: #a94442
}
.alert-div-bg {
	/*background-color: #dff0d8!important;*/
	
	border-color: #d6e9c6;
}
.boxwidthsetting {
	width: 40%!important;
	padding-top: 20px;
	margin-left: 30%;
}
/**
 *   <personal
 *   > 后台商品列表，颜色色块
 */

.carcolor-click {
	position: relative;
	display: inline-block;
	padding: 2px 0 2px 22px;
}
.carcolor-click em.carcolor-bg {
	background-color: #d0d0d0;
	left: 1px;
	top: 6px;
}
.carcolor-click em {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 10;
	cursor: pointer;
}
.search_box{padding:10px;}
.car-interior-color{display: inline-block;width: 28px;height: 28px;border: 1px solid #d60000;position: relative;}
.car-interior-color em{width: 26px;height: 26px;line-height: 0;overflow: hidden;zoom: 1;position: absolute;top: 0px;left: 0px;z-index: 5;}
.car-interior-color em.em-top{width: 26px;height: 13px;top: 0px;left: 0px;z-index: 10;cursor: pointer;}
.car-interior-color em.em-bottom {width: 26px;height: 13px;top: 13px;left: 0px;z-index: 10;}

.table tr td,.table tr th{display: table-cell;vertical-align: middle!important;}


.navbar-form{ margin:0;padding:7px;}